{{template "base" .}}

{{define "content"}}

    {{ $length := len .ScrapedBlogs }}
    {{$index := -1}}
    <p class="font-weight-light float-right text-right">({{$length}} <small class="text-muted">Results Found</small>)</p>

    {{range $index, $blog := .ScrapedBlogs}}
        <div class="col">
            <div class="row justify-content-center ml-2 mr-2">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{.CoverImage}}" class="img-fluid rounded-start" alt="...">
                        </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{.URL}}">{{.Title}}</a></h5>
                            <p class="card-text">{{.Body}}</p>
                            <p class="card-text"><small class="text-muted">Last updated 0 mins ago</small></p>
                        </div>
                     </div>
                    </div>
                </div>
            </div>
        </div>

        {{if eq $index 10}}
            {{break}}
        {{end}}

    {{end}}
    {{if lt $index $length}}
        <div class="d-grid gap-2 col-4 mx-auto mb-2 mt-2">
            <button id="load-more-button" name="load-more-button" class="btn btn-primary" type="button">Load More</button>
        </div>
    {{end}}


{{end}}