{{template "base" .}}

{{define "content"}}

    {{ $length := len .ScrapedPoetries }}
    <p class="font-weight-light float-right text-right">({{$length}} <small class="text-muted">Results Found</small>)</p>

    {{range $index, $poetry := .ScrapedPoetries}}
        <div class="col">
            <div class="row justify-content-center">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/static/images/krishna.webp" height="64" class="img-fluid mx-auto d-block rounded-start" alt="...">
                        </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{.URL}}">{{.Title}}</a></h5>

                            <p class="card-text"><small class="text-muted">Last updated on {{.LastUpdated.Format "2006-01-02"}}</small></p>
                        </div>
                     </div>
                    </div>
                </div>
            </div>
        </div>

        {{if eq $index 15}}
            {{break}}
        {{end}}

    {{end}}
{{end}}